* {
    margin: 0;
    padding: 0;
}



body {
    background-color:black;
    display: grid;
    place-items: center;
    font-family: 'Tilt Warp', cursive;
    color: white;
}

h1 {
    margin: 50px 0 50px 0;
    font-size: 5rem;
    color: #1a4fc9;
    -webkit-text-stroke: .5px hwb(73 5% 7%);
}

input {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
}

button {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

img {
    size: 20%;
}

#cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn {

    font-size: 2rem;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 0;
    background-color: hsl(0, 18%, 69%);
    border-radius: 10px;

}

#find {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    width: 250px;
    background-color: rgb(0, 0, 0);
}

.btn:hover {
    background-color: rgb(226, 228, 230);
}

button.enabled {
    opacity: 1;
}

p {
    font-size: 2rem;
} 